.top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    font-weight: bold;
}

.bgimg{
    position: absolute;
}

@media (max-width:640px) {
    .top{
        padding: 120px 16px;
    }    
    .title{
        font-size: 2rem;
        text-align: left;
    }
    .bgimg{
        position: absolute;
    }
}