.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.top > div {
  position: relative;
  z-index: 10;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  background-color: antiquewhite;
  color: black;
}

.bgimg {
  position: absolute;
  width: 100%;
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
    height: 40vh;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
}
